.btn {
  display: inline-block;
  width: 90%;
  color: #fff;
  padding: calc(var(--body) * 0.3) calc(var(--space-xs) * 0.7);
  text-decoration: none;
  border: solid calc(var(--body) * 0.15) #5b5759;
  background-color: var(--green);
  font-size: calc(var(--body));
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
